{{#if isXMultipleQueryParams}}
<td colspan="2" class="x-mq">
	<table>
		<tbody class="x-mq-params">
		</tbody>
	</table>

	<div class="x-mq-param-buttons">
		<input type="button" class="x-mq-param-add" value="Add" />
		<input type="button" class="x-mq-param-remove" value="Remove last" />
	</div>
</td>
{{else}}
<td class='code'>
	<label for='{{{escape valueId}}}'>{{{escape name}}}</label>
</td>
<td>

    {{#if isPartData}}
        {{#if default}}
            <div class="editor_holder"></div>
            <textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}'>{{{escape default}}}</textarea>
            <br />
            <div class="parameter-content-type" />
        {{else}}
            <textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}'></textarea>
            <div class="editor_holder"></div>
            <br />
            <div class="parameter-content-type" />
        {{/if}}
    {{else}}
        {{#if isBody}}
            {{#if isFile}}
                <input type="file" name='{{{escape name}}}' id='{{{escape valueId}}}'/>
                <div class="parameter-content-type" />
            {{else}}
                {{#if default}}
                    <div class="editor_holder"></div>
                    <textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}'>{{{escape default}}}</textarea>
            <br />
            <div class="parameter-content-type" />
                {{else}}
                    <textarea class='body-textarea' name='{{{escape name}}}' id='{{{escape valueId}}}'></textarea>
                    <div class="editor_holder"></div>
                    <br />
                    <div class="parameter-content-type" />
                {{/if}}
            {{/if}}
        {{else}}
            {{#if isFile}}
                <input type="file" name='{{{escape name}}}' id='{{{escape valueId}}}'/>
                <div class="parameter-content-type" />
            {{else}}
                {{#renderTextParam this}}
                {{/renderTextParam}}
            {{/if}}
        {{/if}}
    {{/if}}

</td>
{{/if}}
<td class="markdown">{{{sanitize description}}}</td>
<td>{{{escape paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>
